body{
    min-width: 1200px;
}
#header{
    background: #1C2327;
}
.header-top-right ul li a{
    color: #fff;
}
.header-top-right ul li a:hover{
    color: #00c1de;
}
/* banner */
.banner{
    width: 100%;
    height: 400px;
}
.banner-img{
    width: 100%;
    height: 400px;
}

/* zhuti start*/
.detail-top{
    height: 50px;
    background: #393939;
    color: #fff;
    padding: 0 50px 0px 100px;
    position: relative;
    cursor: pointer;
}
.detail-nav{
    height: 50px;
    line-height: 50px;
    text-align: center;
    z-index: 10;
}
.detail-nav:hover{
    background: rgba(255,255,255,.1)
}
.detail-slide{
    position: absolute;
    left: 100px;
    width: 212px;
    height: 50px;
    background: #00c1de;
    transition: all .7s;
}
/* zhuti end */
/* main */
.detail-main{
    min-width: 1200px;
    padding: 50px 0 50px 30px;
    margin: 0;
}
.detail-list{
    margin-left: 20px;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #fff;
}
.detail-list:hover{
    border: 1px solid #00c1de;
    box-shadow: 0 0 20px rgba(0, 198, 226, 0.5);
}
.detail-list span{
    color: #f60;
}
.detail-link{
    display: block;
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    color: #00c1de;
    border: 1px solid #00c1de;
    text-align: center;
    transition: .3s;
}
.detail-link:hover{
    color: #fff;
    background: #00c1de;
}

.detail-img{
    position: relative;
}

.detail-img-item{
    position: absolute;
    right: 0;
    top: 5%;
    width: 100%;
}
.detail-img-item:last-child{
    display: none;
}
.detail-list:hover .detail-img-item:last-child{
    display: block;
}

/* col */
.my-col-4{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 30.333333%;
      
}

.active{
    display: block;
}
.hide{
    display: none;
}
/* 云栖大会 */
#detail-three{
    width: 100%;
    padding: 20px 100px 50px 100px;
    cursor: pointer;
}
.detail-three-title>h1{
    border-left: 2px solid #00c1de;
    padding-left: 20px;
}
.detail-three-item{
    position: relative;
    width:298px;
    height: 300px;
    color: #fff;
    text-align: center;
    padding: 0;
}
.detail-three-bg1{
    background-image: url(../img/details/detail-img1.jpg);
    background-size: cover;
}
.detail-three-bg2{
    background-image: url(../img/details/detail-img2.jpg);
}
.detail-three-bg3{
    background-image: url(../img/details/detail-img3.jpg);
}
.detail-three-bg4{
    background-image: url(../img/details/detail-img4.jpg);
}
.detail-three-link{
    width: 100%;
    height:100%;
}
.detail-three-link:hover{
    background-color: rgba(0,0,0,.6);
}
.detail-three-link h1{
    margin-bottom: 180px;
}
.link-bg1{
    background: rgba(57,110,135,.7) url(../img/details/span.png) no-repeat center center;
}
.link-bg2{
    background: rgba(27,113,86,.7) url(../img/details/span.png) no-repeat center center;
}
.link-bg3{
    background: rgba(24,58,151,.7) url(../img/details/span.png) no-repeat center center;
}
.link-bg4{
    background: rgba(56,35,98,.7) url(../img/details/span.png) no-repeat center center;
}
/* 大赛 */
#detail-five{
    width: 100%;
    padding: 20px 100px 50px 100px;
}
#detail-five h2{
    border-left: 2px solid #00c1de;
    padding-left: 20px;
}
.detail-five-main{
    position: relative;
    padding-left: 160px;
}
.detail-five-list{
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    border: 1px solid #EEEEEE;
    cursor: pointer;
}
.detail-five-list li{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #E3E3E3;
    background: #C6C6C6;
}
.detail-five-table{
    width: 1040px;
    margin-bottom: 100px;
}
.detail-five-table thead{
    background: #C6C6C6;
}
.detail-five-table thead th, .detail-five-table tbody td{
    padding: 15px;
    border-bottom: 1px solid #E3E3E3;
}
.detail-five-table tr td:nth-child(4){
    color: #FD5F52;
}
.detail-five-table p{
    font-size: 12px;
}
.detail-five-table tbody tr td a{
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #00A2CA;
    color: #fff;
}
.detail-five-table tbody tr td a:hover{
    background: #00c1de;
}
