.header{
    min-width: 1035px;
    color: #fff;
    position: relative;
}
/* 头部 最上面 */
.header-top{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 250px
}
/* top 的left */
.header-left-hb{
    position: absolute;
    left: 0;
    height: 50px;
    padding: 8px 20px;
    border-right: 2px solid #45474F;
    transition: .5s;
}
.header-left-hb:hover{
    background: #00c1de;
}

.header-index-img img{
    position: absolute;
    left: 60px;
    transform: scale(.6);
}

.header-search{
    background: rgba(255, 255, 255, .5);
    border: 2px solid transparent;
    width: 195px;
    transition: .5s;
    color: #fff;
}
.header-search:hover, .header-search:focus{
    width: 300px;
    border: 2px solid #00c1de;
    background: rgba(255, 255, 255, .1);
}
.header-search-img{
    margin-left: -35px;
    margin-top: 11px;
    width: 30px;
    height: 30px;
}
/* 头部 右边的列表 */
.header-top-right ul li{
    float: right;
    padding-left: 20px;
    padding-right: 20px;
}
.header-shoping-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
/* 头部 第二行 导航栏 */
.header-nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #9A9B9F;
    /* border-bottom: 1px solid #9A9B9F; */
}
.header-nav ul li{
    float: left;
    padding-left: 20px;
    padding-right: 15px;
}

.header-nav-register{
    float: right;
    display: block;
    width: 150px;
    text-align: center;
    background: #00c1de;
}
.header-nav-register:hover{
    color: #fff;
    opacity: .8;
}
/* hb 悬停 */
.header-hover{
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    cursor: pointer;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #00c1de;
    z-index: 10;
}
.header-hover-left, .header-hover-center, .header-hover-right{
    width: 0;
    color: #fff;
    transition: .5s;
    overflow: hidden;
}
.header-hover-left{
    background: #373942;
}
.header-hover-center{
    background: #383E41;
}
.header-hover-right{
    background: #9B9CA1;
}
.header-hover ul{
    width: 300px;
}
.header-hover-right>ul{
    width: 500px;
}
.header-hover li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 20px;
}
.header-hover ul>li span{
    float: right;
    margin-right: 80px;
    font-size: 35px;
    color: #00c1de;
    opacity: 0;
}
.header-hover-right ul>li:hover{
    border: 1px solid #00c1de;
}
.header-hover-left ul>li:hover, .header-hover-center ul>li:hover{
    background: #fff;
    color: #00c1de;
}
.header-hover-left ul>li:hover span, .header-hover-center ul>li:hover span{
    opacity: 1;
    transition: 1s;
    margin-right: 0px; 
}

