body{
  min-width: 1200px;
}
.header{
  width: 100%;
  height: 80px;
  background: #1B1E21;
  border-bottom: 1px solid #5E6163;
  position: relative;
}
.header img{
  position: absolute;
  top: 25px;
  left: 30px;
  width: 150px;
  height: 30px;
}
/* 主体 */
.main {
    width: 100%;
    height: 580px;
    background: url(../img/login/background.jpg) no-repeat;
    background-size: 100% 100%;
}
/* 新闻 */
.news {
  padding-left: 10%;
  color: #fff;
}
/* 登录框 */
.login-box{
  width: 400px;
  /* height: 350px; */
  padding-bottom: 15px;
}
.section{
  padding-top: 100px;
}
.login-input {
  width: 80%;
  height: 40px;
  padding: 10px;
}
.login-btn{
  width: 80%;
  color: #fff;
  background: #00c1de;
  border: none;
  height: 43px;
  cursor: pointer;
}
.login-link{
  color: #9B9EA0;
  font-size: 13px;
}
/* 验证提示信息 */
.msg{
    position: absolute;
    top: 50px;
    left:87px;
    width: 320px;
    height: 25px;
    padding: 0px 28px;
    margin:0;
    border: 1px solid #FF934C;
    background:  #FEFCEE url(../img/login/err.png) no-repeat 1px 1px;
    background-size: 20px;
    font-size: 14px;
    text-align: left;
    display: none;
}