.body{
    min-width: 1200px;
}
.small{
    font-size: 12px;
}
/* 头部 */
.header{
    min-width: 1035px;
    color: #fff;
    position: relative;
    background: #44494D;
    border-bottom: 1px solid #afafb8;
}
/* 头部 最上面 */
.header-top{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 250px
}
/* top 的left */

.header-index-img img{
    position: absolute;
    left: 60px;
    transform: scale(.6);
}

.header-search{
    background: rgba(255, 255, 255, .5);
    border: 2px solid transparent;
    width: 195px;
    transition: .5s;
    color: #fff;
}
.header-search:hover, .header-search:focus{
    width: 300px;
    border: 2px solid #00c1de;
    background: rgba(255, 255, 255, .1);
}
.header-search-img{
    margin-left: -35px;
    margin-top: 11px;
    width: 30px;
    height: 30px;
}
/* 头部 右边的列表 */
.header-top-right ul li{
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
}
.header-top-right ul li a{
    color: #fff;
}
.header-top-right ul li a:hover{
    color: #00c1de;
}
.header-shoping-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

/* 主体内容 */
.main{
    margin: 30px 100px;
    padding: 30px;
    border: 1px solid #9b9b9b;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.5);
}
.title-banner img{
    width: 100%;
}
.color-red{
    background: #F66B6B;
    color: #fff;
}
.title-detail{
    border-bottom: 1px solid #9b9b9b;
}
.title-list-link{
    border: 1px solid #9b9b9b;
    cursor: pointer;
}
.title-list-link:hover{
    border: 1px solid #00c1de;
    box-shadow: 0 0 20px rgba(0, 198, 226, 1);
}
.title-item{
    height: 79px;
    background: #00c1de;
    padding: 10px 50px 10px 10px;
    color: #fff;
}
.years{
    width:15px;
    height: 15px;
}
.title-price{
    padding-right: 20px;
    border-right: 1px solid #afafb8;
}
.main p{
    margin: 0;
    color: #F5A623;
}
/* config */
#city, #OS1{
    width: 80%;
    height: 40px;
}
.title-config h6,
.title-config p{
    padding-bottom: 8px;
}
.title-config-width{
    display: inline-block;
    width: 50px;
    height: 30px;
    background: #00c1de;
    color: #fff;
    text-align: center;
}
.my-width{
    width:8%;
}
.my-color{
    color: #FD6E21;
}
p.my-btn{
    width: 80%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #00c1de;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
p.my-btn:hover{
    background: #fff;
    color: #00c1de;
    border: 1px solid #00c1de;
}

/* 推荐内容 recommend */
.recommend{

    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 50px;

}
.recommend-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* padding-left: 5%; */
}
.recommend-list-item{
    border: 1px solid #D4CFD7;
    margin-right: 20px;
}
.recommend-list-item-top{
    background: #00c1de;
    color: #fff;
    padding: 15px;
}
.recommend-list-item-top p{
    margin: 0;
    padding-bottom: 5px;
}   
.recommend-list-item-middle>ul{
    padding: 20px 20px 20px 40px;
    color: #9B9EA0;
    font-size: 14px;
}
.recommend-list-item-bottom{
    padding-left: 20px;
}
.recommend-list-item-bottom>span:first-child{
    display: inline-block;
    border: 1px solid #F15533;
    color: #F15533;
    transform: skew(-10deg);
}
.recommend-list-item-bottom p{
    margin: 0;
}
.recommend-list-item a{
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: linear-gradient(to right,#FD6D21,#FF9B02);
}
.recommend-list-item a:hover{
    background: linear-gradient(to right,#FD3900,#FF6A00);
}
.recommend-list-item>div.small{
    padding: 10px;
}