/* 1.头的顶部 */

.header-top {
  background: rgb(28,35,39);
  min-width: 1200px;
  display: flex;
}

.top {
  width: 100%;
  padding: 8px;
  display: flex;
  color: white;
  text-align: center;
}

.top>li>a {
  width: 100%;
  height: 100%;
}

/* 搜索框 */

.search-input {
  position: absolute;
  right: 0;
  font-size: 20px;
  padding-left: 16px;
  padding-right: 22px;
  margin-top: -8px;
  width: 40%;
  transition: .5s linear;
  height: 48px;
  outline: none;
  background: #373D40;
  border: none;
  color: #CCCCCC;
}

.search-input:hover {
  width: 60%;
  background: rgb(37, 40, 43,1);
  border: 1px solid #00C1DE;
}

.search-img {
  position: absolute;
  right: 5px;
  top: 3px;
}

.my-img1 {
  max-width: 40%;
}

.my-img2 {
  max-width: 80%;
  margin-top: 5px;
  margin-right: -3px;
}

.my-aliyun {
  position: absolute;
  left: 92px;
}

/* a标签 */

.top li a {
  color: white;
  transition: color .3s;
}

/* 下拉菜单 */

.top select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: white;
}

.top select>option {
  background: #1C2327;
  color: white;
  border: transparent;
}

.top select:focus {
  outline: none;
}

.middle {
  display: flex;
  padding-top: 5px;
}

/* 2.头部导航栏 */

.nav {
  min-width: 1200px;
  width: 100%;
  border-top: 1px solid #3C3E42;
  background: rgb(28,35,39);
  float: left;
  color: white;
  position: relative;
}

.nav>ul {
  width: 80%;
  height: 50px;
  list-style: none;
  float: left;
  margin-left: 10px;
}

.nav>ul>li {
  float: left;
  width: 7%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.nav-block{
  border: 52px solid transparent;
  border-bottom-color: #fff;
  transform: scale(.31);
  position: relative;
  top: -68px;
  left: -13px;
  display: none;
}
/* 导航栏链接 */

.nav>ul>li>a {
  color: white;
}

.nav>ul>li:hover>a{
  color: #00c1de;
}
.nav>ul>li:hover>.nav-title, .nav>ul>li:hover>.nav-block{
  display: block;
}

/* 免费登录链接 */

.nav>a {
  float: right;
  width: 120px;
  height: 50px;
  color: white;
  background: #00c1de;
  line-height: 50px;
  text-align: center;
}

.nav>a:hover {
  opacity: 0.9;
}
/* 导航内容 */
.nav-title{
  position: absolute;
  left: 20px;
  top: 50px;
  display: none;
  width: 1150px;
  height: 600px;
  background: orange;
  margin-left: 20px;
  z-index: 100;
  transition: 1s;
}
.nav-title:focus{
  display: block;
}